.KHCwJ.M0FGwd {
    max-height: 25vw;
    max-width: 100vw;
    height: 192.5px;
    width: 770px;
}

.KHCwJ {
  background-image: url(https://lh3.googleusercontent.com/mXD1kxMEyzSRgZEjko64WsWEffbE_86jerfjDp_8v5HeqxBq0yzXJafZTQj_E2EfqdHBOODNTcNLZQfSGqid5TZAoxPv2_5o1ajY_ffdbCSHi6opiXFXKSh_xvG_6CnkMakFNCQMy--psLf8Ayij827rHAm0DA);
  background-size: cover;
  background-position: center;
}

.dYYAhb {
  border: 1px solid rgb(218,220,224);
  border-radius: 8px;
  margin-bottom: 12px;
}
