<div class="dYYAhb M0FGwd KHCwJ"></div>

<div class="card" style="margin-bottom: 10px">
  <img
    [src]="'assets/01_spider.png'"
    class="card-img-top"
    alt="..."
    style="max-height: 25vw; height: 192.5px"
  />
</div>

<div class="card mb-2">
  <div
    class="card-header"
    style="
      height: 5px;
      background-color: blue;
      --bs-card-cap-padding-y: 0rem;
      --bs-card-cap-padding-x: 0rem;
    "
  ></div>
  <div class="card-header">
    <h1 class="card-title">{{ formDefinition.title }}</h1>
  </div>
  <div class="card-body">
    <p class="card-text">{{ formDefinition.description }}</p>
  </div>
</div>
