<div>
  <div class="card mb-2">
    <div
      class="card-header"
      style="background-color: rgb(103, 58, 183); color: rgba(255, 255, 255, 1)"
    >
      <h2 class="card-title">{{ section.sTitle }}</h2>
    </div>
    <div class="card-body">
      <p class="card-text">{{ section.sDescription }}</p>
      <h6>{{ section.sDescription }}</h6>
    </div>
  </div>
  <pre> {{ section | json }}</pre>

  <form
    class="row g-3 needs-validation"
    [formGroup]="formulario"
    (ngSubmit)="submitForm(+1)"
  >
    <div *ngFor="let question of section.sQuestions; let i = index">
      <pre> {{ question.qType | json }} </pre>
      <question-simple-priority
        *ngIf="question.qType === Simple_priority"
        [question]="question"
      ></question-simple-priority>
      <question-multiple-project-priority
        *ngIf="question.qType === Multiple_project_priority"
        [question]="question"
      ></question-multiple-project-priority>
      <question-open
        *ngIf="question.qType === Open"
        [question]="question"
      ></question-open>
      <question-single-choice
        *ngIf="question.qType === Single_choice"
        [question]="question"
      ></question-single-choice>
      <question-multiple-choice
        *ngIf="question.qType === Multiple_choice"
        [question]="question"
      ></question-multiple-choice>
    </div>

    <div>
      <button
        type="button"
        class="btn btn-secondary"
        [disabled]="formulario.invalid"
        type="button"
        (click)="submitForm(-1)"
      >
        Atrás
      </button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="formulario.invalid"
        type="button"
        (click)="submitForm(+1)"
      >
        Siguiente
      </button>
    </div>
  </form>
  <pre>
    {{ formulario }}
    formulario.value= {{ formulario.value | json }}
    invalid:{{ formulario.invalid | json }}

  </pre>
</div>
