<div>
  <div class="card mb-2">
    <div
      class="card-header"
      style="background-color: rgb(103, 58, 183); color: rgba(255, 255, 255, 1)"
    >
      <h2 class="card-title">{{ section.sTitle }}</h2>
    </div>
    <div class="card-body">
      <p class="card-text">{{ section.sDescription }}</p>
      <h6>{{ section.sDescription }}</h6>
    </div>
  </div>
  <pre> {{ section | json }}</pre>

  <form
    class="row g-3 needs-validation"
    [formGroup]="formulario"
    (ngSubmit)="submitForm()"
  >
    <div *ngFor="let question of section.sQuestions; let i = index">
      <pre> {{ question.qType | json }} </pre>
      <question-simple-priority
        [qId]="question.qId"
        [question]="question"
      ></question-simple-priority>
      <question-multiple-project-priority></question-multiple-project-priority>
    </div>

    <div formArrayName="questions">
      <pre>
        {{ questions }}
        {{ questions.length }}
      </pre>
      <div
        [formGroupName]="i"
        *ngFor="let question of questions.controls; let i = index"
      >
        {{ i }}
        {{ question.value | json }}
      </div>

      <div *ngFor="let question of questions.controls; let i = index">
        <form-question
          [_group]="question"
          [index]="i"
          (eliminar)="eliminarGrupo($event)"
        ></form-question>
        <!--
        <app-simple-priority-question *ngIf="question.qType === 'Simple_priority'"
        [formGroup]="formulario.get(question.qId)"
        [question]="question"></app-simple-priority-question>
<app-value-priority-question *ngIf="question.qType === 'Value_priority'"
       [formGroup]="formulario"
       [question]="question"></app-value-priority-question>

-->
      </div>
    </div>

    <!--
    <form-question
    group={{questions.at(0) as FormGroup}}
    [index]="1"
    (eliminar)="eliminarGrupo($event)"
  ></form-question>
    -->
    <div>
      <button type="button" class="btn btn-secondary">Atrás</button>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="formulario.invalid"
        type="submit"
      >
        Siguiente
      </button>
    </div>
  </form>
  <pre>
    {{ formulario }}
    formulario.value= {{ formulario.value | json }}
    invalid:{{ formulario.invalid | json }}
    formulario.value.questions[0]  = {{
      formulario.value.questions[0].qTitle | json
    }}
  </pre>
</div>
